.botao:hover {
     background:linear-gradient(to right,);
}
:root {
     --cor-de-fundo: #2d70f7;
 }
 
 body {
     background-color: var(--cor-de-fundo);
 }
 
 h1 {
     background-color: rgb(255, 2, 2);
 }
 @import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #0055ff;
    --branco: #3a2323;
    --laranja: #ffb31a;
    --azul-degrade: linear-gradient(97.54deg, #6c93b1 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}